@media (max-width: 675px) {
  .container {
    width: 308px;
  }

  .row-one {
    flex-direction: column;
  }

  .row-one__left {
    margin-right: 0; 
    margin-bottom: 20px; 
  }

  .row-one__left__avatar {
    margin-right: 10px;
  }

  .row-one__left__info {
    margin-left: 10px;
  }

  .row-two__left {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .row-three{
    flex-direction: column;
  }

  .row-three__left {
    margin-bottom: 20px;
  }

  .row-two__right__inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .row-two__right__inner__block {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 16px;
  }

  .row-two__right__block {
    justify-content: center;
    margin-right: 12px;
  }

  .row-two__right__block:nth-child(1) {
    flex: 1.5;
  }

  .row-two__right__block:nth-child(2) {
    flex: 1;
  }

  .row-two__right__block:nth-child(3) {
    flex: 1;
  }

  .row-two__right__inner__block:last-child {
    margin-right: 0;
  }

  .row-three__left {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  body{
    margin: 0;
  }

  #app {
    padding-top: 20px;
  }

  .button_container {
    width: 308px;
  }


  
}

