body {
  background-color: #00000012;
  font-family: 'Poppins', sans-serif;
}

#app {
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}

.container {
  padding: 15px 20px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  max-width: 595px;
  margin-left: auto;
  margin-right: auto;
}

.block-grey-radius{
  border-radius: 12px;
  background-color: #F0F0F0;
}

/*ROW ONE*/

.row-one {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap
}

.row-one__left{
  display: flex;
  flex: 1;
  margin-right: 20px;
}

.row-one__left__avatar{
  width: 124px;
  height: 124px;
  flex: 1;
  margin-right: 20px;

}

.row-one__left__info{
  box-sizing: border-box;
  padding: 12px;
  width: 124px;
  height: 124px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row-one__left__info__line-top{
  font-size: 10px;
  font-weight: medium;
  text-align: left;
}

.ow-one__left__info__line-bottom{

}

.row-one__left__info__line-bottom__name{
  text-align: left;
  font-weight: 500;
  font-size: 14px;
}

.row-one__left__info__line-bottom__job{
  text-align: left;
  font-size: 12px;
  color: #5C5C5C;
}

.row-one__right{
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding: 12px;
  flex-direction: column;
}

.row-one__right__top{
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  margin-bottom: 16px;
}

.row-one__right__bottom{
  display: flex;
  flex: 1;
}

.row-one__right__bottom__text{
  margin-right: 17px;
}

.row-one__right__bottom__text__row{
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 10px;
  line-height: 104%;
}

.row-one__right__bottom__text__row:last-child{
  margin-bottom: 0; 
}

.row-one__right__bottom__lines{
  width: 100%;
  text-align: left;
}

.row-one__right__bottom__lines__item{
  border-radius: 3px;
  background-color: #28D979;
  width: 100%;
  height: 11px;
  margin-bottom: 10px;
}

.row-one__right__bottom__lines__item:nth-child(1){
  width: 100%;
}

.row-one__right__bottom__lines__item:nth-child(2){
  width: 100%;
}

.row-one__right__bottom__lines__item:nth-child(3){
  width: 77%;
}

/*ROW TWO*/

.row-two{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.row-two__left{
  width: 411px;
  margin-right: 20px;
  box-sizing: border-box;
  padding: 12px;
}

.row-two__left__title{
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  margin-bottom: 16px;
}

.row-two__left__experience{
  width: 100%;
}

.row-two__left__experience__item{
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  background-color: #fff;
  margin-top: 10px;
}

.row-two__left__experience__item:nth-child(1){
  background-color: #28D979;
}

.row-two__left__experience__item__top{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
  font-size: 8px;
  line-height: 150%;
  color: #000;
}

.row-two__left__experience__item:nth-child(1){
  margin-top: 0;
  color: #fff;
}

.row-two__left__experience__item:nth-child(1) .row-two__left__experience__item__top{
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.row-two__left__experience__item:nth-child(1) .row-two__left__experience__item__bottom__job__sub-title__item {
  color: #fff;
}

.row-two__left__experience__item__top__tag{

}

.row-two__left__experience__item__bottom{
  display: flex;
  justify-content: space-between;
}

.row-two__left__experience__item__bottom__job{
  width: 124px;
  margin-right: 8px;
}

.row-two__left__experience__item__bottom__job__title{
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  text-align: left;
}

.row-two__left__experience__item__bottom__job__sub-title{
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  color: #3f3d3d;
  display: flex;
  justify-content: flex-start;
}

.row-two__left__experience__item__bottom__job__sub-title__item:not(:last-child)::after{
  content: " | ";
  margin-left: 6px;
  margin-right: 6px;
}

.row-two__left__experience__item__bottom__description{
  width: 239px;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  text-align: left;

}

.row-two__left__experience__item__bottom__description ul{
  margin: 0;
  padding-left: 10px;
  list-style-position: outside;
/*  text-indent: -11px*/
}

.row-two__right{
  width: 124px;
  box-sizing: border-box;
  padding: 12px;
}

.row-two__right__title{
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 15px;
}

.row-two__right__inner{
  
}


/*ROW THREE*/

.row-three{
  display: flex;
  flex-wrap: wrap
}

.row-three__left{
  width: 268px;
  margin-right: 20px;
}

.row-three__right{
  width: 267px;
}

.row-three__right__top{
  margin-bottom: 20px;
}

.row-three__right_bottom{
  border-radius: 12px;
  background-color: #000;
  color: #fff;
}

